div.qonsole a:link {color: white;}
div.qonsole a:visited {color: white;}
div.qonsole a:hover {color: white; text-decoration: none;}

div.qonsole {
	color: white;
	position: absolute;
	bottom: 20px;
	left: 0px;
	/*overflow: auto;*/
	width: 100%;
	padding-left: 3px;
	line-height: 1.5;
	background: transparent;
	text-shadow: white 0px 0px 5px;
	/*height: 230px;
	overflow: auto fails because no height is stated, but if a height is the it gets top aligned :S*/
}

div.qframe {
	background: black; /*rgba(64,0,128,0.75);*/
	position: fixed;
	top: -250px;
	left: 0px;
	overflow: hidden;
	width: 100%;
	height: 250px;
	visibility: hidden;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	z-index: 666;
}

div.qinput {
	color: white;
	position: absolute;
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	width: 100%;
	padding-left: 3px;
	background: transparent;
	text-shadow: white 0px 0px 5px;
}

div.qinput input[type=text] {
	color: white;
	background: transparent;
	font-size: 12px;
	font-family: verdana, arial, helvetica, sans-serif;
	height: 15px;
	padding-top: 2px;
	padding-left: 2px;
	border: 0px;
	text-shadow: white 0px 0px 5px;
}