body {
	background-color: #202020;
	margin: 0;
}

body, input, textarea {
	font-size: 12px;
	font-family: verdana, arial, helvetica, sans-serif;
}

body, textarea, a:link { color: #000; }

a:hover { text-decoration: none; }

div.pbm, div.status, textarea {
	opacity: .8;
	filter: alpha(opacity=80);
}

div.pbm, div.status, textarea, input {
	-moz-box-shadow: 1px 1px 5px #000;
	-webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 5px #000;
	border: 0;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

div.pbm, textarea {
	padding: 5px;
}

div.pbm, div.status {
	position: absolute;
}

div.status {
	left: 51px;
	top: -20px;
	height: 17px;
	visibility: hidden;
	font-size: 12px;
	padding: 3px 0 0 1px;
}

input {
	color: #dcdcdc;
	text-shadow: 1px 1px 1px #000;
	height: 20px;
	width: 50px;
	background: url(images/button.png) no-repeat;
}

input:hover { background-position: 0 -20px; }

input:active { background-position: 0 -40px; }

textarea { overflow: hidden; }

img { border: 0; }
